@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-title-shadow: var(--title-shadow);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);

  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-input-foreground: var(--input-foreground);

  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
/* @layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
} */

@layer utilities {
  body {
    font-family: Barlow, Arial, sans-serif;
  }
}

:root {
  --background: hsl(270 5% 25%);
  --foreground: hsl(224 71.4% 4.1%);
  --title-shadow: hsl(10 95% 80%);
  --card: hsl(270 25% 95%);
  --card-foreground: hsl(224 71.4% 4.1%);
  --popover: hsl(220 15% 85%);
  --popover-foreground: hsl(224 71.4% 4.1%);
  --primary: hsl(220 70% 60%);
  --primary-foreground: hsl(210 20% 98%);
  --secondary: hsl(10 95% 80%);
  --secondary-foreground: hsl(220.9 39.3% 11%);
  --muted: hsl(220 14.3% 95.9%);
  --muted-foreground: hsl(220 8.9% 46.1%);
  --accent: hsl(220 15% 80%);
  --accent-foreground: hsl(220.9 39.3% 11%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(210 20% 98%);
  --border: hsl(220 25% 85%);
  --input: hsl(220 15% 85%);
  --input-background: hsl(220 15% 85%);
  --input-foreground: hsl(224 71.4% 4.1%);
  --ring: hsl(220 15% 100%);
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --radius: 0.5rem;
}
.stellar-jades {
  --background: hsl(270 5% 25%);
  --foreground: hsl(224 71.4% 4.1%);
  --title-shadow: hsl(10 95% 80%);
  --card: hsl(270 25% 95%);
  --card-foreground: hsl(224 71.4% 4.1%);
  --popover: hsl(220 15% 85%);
  --popover-foreground: hsl(224 71.4% 4.1%);
  --primary: hsl(220 70% 60%);
  --primary-foreground: hsl(210 20% 98%);
  --secondary: hsl(10 95% 80%);
  --secondary-foreground: hsl(220.9 39.3% 11%);
  --muted: hsl(220 14.3% 95.9%);
  --muted-foreground: hsl(220 8.9% 46.1%);
  --accent: hsl(220 15% 80%);
  --accent-foreground: hsl(220.9 39.3% 11%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(210 20% 98%);
  --border: hsl(220 25% 85%);
  --input: hsl(220 15% 85%);
  --input-background: hsl(220 15% 85%);
  --input-foreground: hsl(224 71.4% 4.1%);
  --ring: hsl(220 15% 100%);
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --radius: 0.5rem;
}
.stellar-jades-dark {
  --background: hsl(270 0% 0%);
  --foreground: hsl(210 20% 98%);
  --title-shadow: hsl(10 70% 65%);
  --card: hsl(270 6% 17%);
  --card-foreground: hsl(210 20% 98%);
  --popover: hsl(220 15% 85%);
  --popover-foreground: hsl(224 71.4% 4.1%);
  --primary: hsl(220 75% 50%);
  --primary-foreground: hsl(210 20% 98%);
  --secondary: hsl(10 70% 65%);
  --secondary-foreground: hsl(210 20% 98%);
  --muted: hsl(220 14.3% 95.9%);
  --muted-foreground: hsl(220 8.9% 46.1%);
  --accent: hsl(220 15% 80%);
  --accent-foreground: hsl(220.9 39.3% 11%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(210 20% 98%);
  --border: hsl(220 25% 85%);
  --input: hsl(220 15% 85%);
  --input-background: hsl(220 15% 85%);
  --input-foreground: hsl(224 71.4% 4.1%);
  --ring: hsl(220 15% 100%);
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --radius: 0.5rem;
}
.night-time {
  --background: hsl(220 20% 10%);
  --foreground: hsl(210 20% 98%);
  --title-shadow: hsl(215 35% 40%);
  --card: hsl(220 20% 20%);
  --card-foreground: hsl(210 20% 98%);
  --popover: hsl(220 20% 20%);
  --popover-foreground: hsl(210 20% 98%);
  --primary: hsl(215 35% 40%);
  --primary-foreground: hsl(210 20% 98%);
  --secondary: hsl(215 30% 30%);
  --secondary-foreground: hsl(210 20% 98%);
  --muted: hsl(215 27.9% 16.9%);
  --muted-foreground: hsl(217.9 10.6% 64.9%);
  --accent: hsl(215 27.9% 16.9%);
  --accent-foreground: hsl(210 20% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(210 20% 98%);
  --border: hsl(220 20% 40%);
  --input: hsl(220 15% 90%);
  --input-background: hsl(220 15% 90%);
  --ring: hsl(220 50% 50%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
  --radius: 0.5rem;
}
.march-7th-preservation {
  --background: hsl(334 60% 70%);
  --foreground: hsl(224 71.4% 4.1%);
  --title-shadow: hsl(200 39.4% 52.7%);
  --card: hsl(348 60% 85%);
  --card-foreground: hsl(224 71.4% 4.1%);
  --popover: hsl(348 60% 85%);
  --popover-foreground: hsl(224 71.4% 4.1%);
  --primary: hsl(227 39.4% 52.7%);
  --primary-foreground: hsl(210 20% 98%);
  --secondary: hsl(190 76% 60%);
  --secondary-foreground: hsl(224 71.4% 4.1%);
  --muted: hsl(215 27.9% 16.9%);
  --muted-foreground: hsl(217.9 10.6% 45%);
  --accent: hsl(190 76% 60%);
  --accent-foreground: hsl(224 71.4% 4.1%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(210 20% 98%);
  --border: hsl(215 27.9% 16.9%);
  --input: hsl(215 27.9% 16.9%);
  --input-background: hsl(220 13% 91%);
  --ring: hsl(348 60% 85%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
  --radius: 0.5rem;
}
.march-7th-hunt {
  --background: hsl(358 82.7% 84.1%);
  --foreground: hsl(210 20% 98%);
  --title-shadow: hsl(191 60% 50%);
  --card: hsl(359 54.2% 30%);
  --card-foreground: hsl(210 20% 98%);
  --popover: hsl(210 20% 98%);
  --popover-foreground: hsl(224 71.4% 4.1%);
  --primary: hsl(355 5.5% 39.4%);
  --primary-foreground: hsl(210 20% 98%);
  --secondary: hsl(58 96.6% 88.6%);
  --secondary-foreground: hsl(224 71.4% 4.1%);
  --muted: hsl(215 27.9% 16.9%);
  --muted-foreground: hsl(218 10% 65%);
  --accent: hsl(326 72% 77%);
  --accent-foreground: hsl(224 71.4% 4.1%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(210 20% 98%);
  --border: hsl(220 13% 91%);
  --input: hsl(220 13% 91%);
  --input-background: hsl(220 13% 91%);
  --ring: hsl(326 72% 77%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
  --radius: 0.5rem;
}
.evil-march {
  --background: hsl(210 70% 30%);
  --foreground: hsl(210 20% 98%);
  --title-shadow: hsl(1 20% 11%);
  --card: hsl(320 90% 30%);
  --card-foreground: hsl(210 20% 98%);
  --popover: hsl(224 71.4% 4.1%);
  --popover-foreground: hsl(210 20% 98%);
  --primary: hsl(0 100% 35%);
  --primary-foreground: hsl(210 20% 98%);
  --secondary: hsl(1 20% 11%);
  --secondary-foreground: hsl(210 20% 98%);
  --muted: hsl(215 27.9% 16.9%);
  --muted-foreground: hsl(217.9 10.6% 64.9%);
  --accent: hsl(215 27.9% 16.9%);
  --accent-foreground: hsl(210 20% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(210 20% 98%);
  --border: hsl(210 20% 98%);
  --input: hsl(215 27.9% 16.9%);
  --input-background: hsl(220 13% 91%);
  --ring: hsl(216 12.2% 83.9%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  a {
    @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600;
  }
  h1 {
    @apply text-2xl font-semibold;
  }
}

.title-text {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-shadow: var(--title-shadow) 0px 1px 0px, var(--title-shadow) 0px 2px 0px,
    var(--title-shadow) 0px 3px 0px, var(--title-shadow) 0px 4px 0px,
    var(--title-shadow) 0px 5px 0px, var(--title-shadow) 0px 6px 0px,
    rgba(0, 0, 0, 0.2) 0px 5px 1px, rgba(0, 0, 0, 0.3) 0px 0px 10px,
    rgba(0, 0, 0, 0.4) 0px 3px 5px, rgba(0, 0, 0, 0.5) 0px 6px 5px;
}

.round {
  border-radius: 50%;
}
